<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioMusica" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:24369/ServicioMusica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioMusica"
                contract="ServiceMusica.IServicioMusica" name="BasicHttpBinding_IServicioMusica" />
        </client>
    </system.serviceModel>
</configuration>